# npm
node_modules
npm-debug.log

# build artifacts
public

# next.js
.next

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# secrets
.env
config/config.json

# VS Code
.vscode

# newrelic
newrelic_agent.log