# Force npm to run node-gyp (used by bcrypt during npm i) also as root, preventing permission denied errors in AWS with npm@5
# https://github.com/ember-fastboot/fastboot-aws/issues/4
# https://stackoverflow.com/questions/27973619/i-cant-find-my-web-app-when-i-ssh-to-my-aws-elastic-beanstalk-instance
unsafe-perm=true